<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:min-width="http://www.w3.org/1999/xhtml">
<head>
    <title>表格控件</title>
    <!--<link rel="icon" type="image/x-icon" href="favicon1.ico"/>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js" th:href="@{/js/jquery.js}"></script>
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.5.2/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.5.2/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.5.2/demo/demo.css"/>
    <script type="text/javascript" src="jquery-easyui-1.5.5.2/jquery.easyui.min.js"></script>
</head>
<body>
<div class="home_header">
    <div class="home_headertxt">
        表格控件
    </div>
</div>
<div class="home_main">
    <table style="width: 100%; box-shadow: 0 1px 2px 0 #e6e8f0; border-spacing: 0" border="0">
        <tr style="height: 30px">
            <td width='10%'>
                &nbsp;
            </td>
            <td width='65%' style="padding-top: 20px; padding-bottom: 14px; color: #333333; font-weight: bold">
                demo展示
            </td>
            <td width='15%' style="padding-left: 20px; color: #333333; font-weight: bold">
                控件名称
            </td>
            <td width='10%' style="background-color: #e0e7f1">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <!--代办信息-->
            <td style="height: 500px; background-color: #ffffff" valign="top">
                <!--<table id="table_data" width="100%">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Column 1</th>-->
                    <!--<th>Column 2</th>-->
                    <!--<th>Column 3</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody></tbody>-->
                <!--</table>-->

                <table id="dg">
                </table>
            </td>
            <!--系统连接开始-->
            <td valign="top" style="padding-left: 15px;">
                <table style="width: 100%">
                    <tr>
                        <td class="sysbtn_td">
                            <div style="min-width: 200px">
                                <div class="sysbtntxt">
                                    <span id="data_tables">DataTables</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="sysbtnGap">
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="sysbtn_td">
                            <div style="min-width: 200px">
                                <div class="sysbtntxt">
                                    <span id="easyui">easyui</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="sysbtnGap">
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <!--系统连接结束-->
            <td style="background-color: #e0e7f1">
            </td>
        </tr>
    </table>
</div>
<div class="home_footer">
    <div class="home_footertext1">
        法律声明|留言反馈
    </div>
    <div class="home_footertext2">
        京ICP备99999999号 Copyright 1999-2016 版权所有 广联达科技股份有限公司
    </div>
</div>

<script type="text/javascript" src="js/page/home.js" th:href="@{/js/page/home.js}"></script>
<!--<script type="text/javascript" src="js/page/test.js" th:href="@{/js/page/test.js}"></script>-->
</body>
</html>
